body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
img {
    max-width: 15%;
    height: 25%;
    display: block;
    align-self: flex-start;
  }
  